@mixin setborder($borderWidth:1px,$borderStyle:solid,$borderColor:#333){
  border: $borderWidth $borderStyle $borderColor;
}
@mixin common-title{
  display: flex;
  align-items: center;
  justify-content: center;
  height:24px;
  background: #363636;
  @include setborder(1px solid #5D5D5D)
}
@mixin common-background{
  background: #555;
}
@mixin common-people-style{
  padding-left: 1rem;
  height: 24px;
  line-height: 24px;
}
@mixin setbutton($backgroundcolor:#333){
  background-color:$backgroundcolor ;
  &:hover{
    background-color: darken($backgroundcolor,15%);
  }
  &:active{
    background-color: darken($backgroundcolor,30%);
  }
}



.container{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: rgba(255,255,255,.5);
  .window{
    position: absolute;
    background: #333;
    width:80%;
    height:80%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    .header{
      display: flex;
      align-items: center;
      padding-left: 1rem;
      height: 2rem;
      background: #282828;
      >i{
        font-size: 24px;
        cursor: pointer;
        display: flex;
        margin-left: auto;
        &:hover{
          color: darken(#fdfdfd,20%);
        }
      }
    }
    .content{
      display: flex;
      padding-top: 50px;
      padding-left: 1rem;
      padding-right: 1rem;
      background: #333333;
      height: 400px;
      &>div:not(:last-child){
        margin-right: 5px;
      }
      .showDetails{
        width:percentage(1/3);
        height: 330px;
        .date{
          @include common-title;
          @include setborder(1px,solid,#5d5d5d);
          display: flex;
          >div:first-child{
            margin-right: auto;
          }
          >div:last-child{
            padding-right: 1rem;
          }
        }
        .box{
          height: 100%;
          padding: 0.5rem 0;
          @include common-background;
          >div{
            padding-left: 1rem;
            height: 1.5rem;
            line-height: 1.5rem;
            cursor: pointer;
            &.selected{
               background: green;
            }
          }
        }
      }
      .leader{
        width:percentage(1/3);
        height: 330px;
        .leadader-title{
          @include common-title;
          @include setborder(1px,solid,#5d5d5d);
          display: flex;
          >div:first-child{
            margin-right: auto;
          }
          >div:last-child{
            padding-right: 1rem;
          }
        }
        .leaders{
          height: 100%;
          padding: 0.5rem 0;
          @include common-background;
          overflow: auto;
          >div{
            @include common-people-style;
            cursor: pointer;
            &.selected{
              background: green;
            }
          }
        }
      }
      .devision-chief{
        width:percentage(1/3);;
        height: 330px;
        .devision-title{
          @include common-title;
          @include setborder(1px,solid,#5d5d5d);
          display: flex;
          >div:first-child{
            margin-right: auto;
          }
          >div:last-child{
            padding-right: 1rem;
          }
        }
        .devisions{
          height: 100%;
          padding: 0.5rem 0;
          @include common-background;
          overflow: auto;
          >div{
            @include common-people-style;
            cursor: pointer;
            &.selected{
              background: green;
            }
          }
        }
      }
      .section-chief{
        width:percentage(1/3);;
        height: 330px;
        .section-title{
          @include common-title;
          @include setborder(1px,solid,#5d5d5d);
          >div:first-child{
            margin-right: auto;
          }
          >div:last-child{
            padding-right: 1rem;
          }
        }
        .sections{
          height: 100%;
          padding: 0.5rem 0;
          @include common-background;
          overflow: auto;
          >div{
            @include common-people-style;
            cursor: pointer;
            &.selected{
              background: green;
            }
          }
        }
      }
    }
    .footer{
      display: flex;
      height: 115px;
      align-items: center;
      justify-content: center;
      button{
        padding:.8rem 1rem;
      }
      .submit{
        @include setbutton(red);
        margin-right: 1rem;
      }
      .reset{
        @include setbutton(green);
      }
    }
  }
}
